#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  background-color: #8AAAE5;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  width: 100px;
  border:solid grey;border-radius: 70%
}

.home-header {
  display :flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  display :flex;
  justify-content: space-evenly;
  font-size: 18px; 
  font-weight: bold;
  align-content:space-between ;
  gap:2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.intro{
  display :flex;}



.footer_img  {
  width:40px;
  height: 40px;
}
.footer {
  display : flex;
  justify-content: space-around ;

}
.mainPage, .about, .portfolio {
  background-color: #a0d2eb;
  border:5px solid plum;
  padding:5px;
  margin:5px;

}
.home-header >h1 {
  color:#3d64b8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:30px;
}
.about >h2 {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:crimson; 
    text-align: center;
    font-size: 18px;

}
.about >h3 {
  font-style: italic;
}
/* styling for sections in about page */
.interest1, .interest2, .interest3{
  display:flex;
  text-align: justify;
  margin :15px;
  gap:1em;
}
img{
    width: 300px; 
    text-align: center;
    position:static;
    border-radius: 2em;
}

article{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  text-align: justify;
}

.portfolio >h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:crimson; text-align: center;

}

.project{
  border:solid; border-width: 5px;
  border-color:coral;
  background-color:blanchedalmond;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  gap: 1em;
  text-align: justify;
  padding: 0.5em;
}



/* For screen sizes above 1024px */
@media screen and (min-width:1024px){
  header >h1{
      font-size:30px;
  }
  .navbar{
      font-size: 25px;
  }
  main>h2{
      font-size: 25px;
  }
  main>h3{
      font-size:22px;
  }
  .about >h2{
    font-size:22px;
  }
  article{
      font-size: 20px;
  }
  #quote{
      font-size: 18px;
  }
  img{
      width:300px;
   }
   /* changing size for sections in about page */
  .interest1, .interest2, .interest3{
      font-size: 18px;
   }
   .project {
    font-size: 18px;
   }
}

/* For screen sizes below 480px */
@media screen and (max-width:480px){
  .intro >img{
      height:100px; width:100px;
  }
  .logo{
      height:5%; width:50px;
  }
  section{
      flex-wrap: wrap;
      font-size: 14px;
  }
  img{
  height: 100px;
}

}